body {
    text-align: center;
    background-image: url('../assets/wardrobe.jpg')
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50pt;
    color: antiquewhite;
    background: black;
    text-shadow: 1px 2px 2px rgb(247, 239, 228);
    border-radius: 20px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30pt;
    color: antiquewhite;
    text-shadow: 1px 2px 3px rgb(250, 247, 242);
    background: black;
    border-radius: 30px;
}

div {
    display: flex;
    justify-content: space-around;
    background: black;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 4px 5px 7px rgb(92, 85, 66);
    border-radius: 3px;
}

input {
    visibility: hidden;
}

input:hover {
    cursor: pointer;
}

input:checked + .image {
    border: 3px solid rgb(241, 107, 18);
}

label {
    width: 200px;
    height: 200px;
}

.image {
    width: 120px;
    height: 200px;
    margin-top: 20px;
    margin-right: 16px;
    cursor: pointer;
    border: 2px solid rgb(224, 178, 50);
}

.image:hover {
    box-shadow: 1px 2px 2px rgb(228, 116, 42);
    transform: translate3d(-1px, -1px, 0);
    border: 2px solid rgb(228, 116, 42);
}